html, body {
    margin: 0;
    padding: 0;
    background: #8cbed6;
    max-height: 100%;
}

canvas {
    position: fixed;
    display: block;
    width: 100%;
    image-rendering: optimizeSpeed;
}

#stats {
    padding: 0;
    margin: 0;
    position: fixed;
    display: block;
    left: 0; right: 0;
}
#stats dt {
    float: left;
    clear: left;
    width: 180px;
    text-align: right;
    font-weight: bold;
}
#stats dt:after {
    content: ":";
}
#stats dd {
    margin-left: 180px;
    padding-left: 10px;
}

#leftPedal,
#rightPedal {
    width: 15%;
    height: 20%;
    position: fixed;
    bottom: 5%;
    background-image: url(../img/pedal.png);
    background-size: 100% 100%;
}

#leftPedal {
    left: 5%;
}

#rightPedal {
    right: 5%;
}
