html, body {
    margin: 0;
    padding: 0;
    background: #8cbed6;
    max-height: 100%;
}

canvas {
    display: block;
    width: 100%;
    image-rendering: optimizeSpeed;
}

#leftPedal,
#rightPedal {
    width: 15%;
    height: 20%;
    position: fixed;
    bottom: 5%;
    background-image: url(../img/pedal.png);
    background-size: 100% 100%;
}

#leftPedal {
    left: 5%;
}

#rightPedal {
    right: 5%;
}
